*{
margin: 0;
padding: 0;
box-sizing: border-box;
color: var(--whited);
}

body{
    background-color: var(--marine);
}

:root{
	--marine: rgb(17, 43, 60);
	--blue: rgb(32, 83, 117);
    --orange: #F66B0E;
	--whited: #EFEFEF;
    --medium: 700;
	--regular: 450;
	--small: 300;
} 

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: var(--blue);
    /* margin: 0 auto; */
    padding: 0px 70px;
}

.logo {
    height: 95%;
    max-height: 150px;
}
/*  header:checked ~ .logo {
    animation-duration: 3s;
    transform: rotate(180grad);
} */

.menu-toggle{
    display: none;
}
.menu-button{
    display: none;
    cursor: pointer;
    font-size: 25px;
    padding: 0 25px;
}



.navlist{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.navbar-link{
    text-decoration: none;
    color: var(--whited);
    font-weight: 600;
    font-size: 20px;
}
.navbar-link:hover{
    color: var(--orange);

}

@media (max-width: 930px) {
    .navlist{
        display: none;
    }
    .menu-button{
        display: block;
    }

    #hero img{
        display: none;
    }
    .menu-toggle:checked + .navlist{
        display: block;
        position: absolute;
        top: 120px;
        left: 15%;
        width: 70%;
        height: 50vh;
        background-color: var(--orange);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }    
    .navbar-link:hover{
        color: var(--blue);
    }
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

#hero{
    display: flex;
    margin: 30px 0;;
    padding: 70px 0;
    width: 90%;
    justify-content: space-around
}
.hero-container{
    display: flex;
    flex-direction: column;
}
h1{
    margin: 10px 0;
    font-size: 40px;
}
p{
    font-size: 22px;
    margin: 30px 0;
}
.button-container{
    display: flex;
    margin: 10px 0;
    gap: 20px;
}

.button{
    margin: 30px 5px;
    text-decoration: none;
    border: 3px solid var(--orange);
    border-radius: 18px;
    padding: 5px 18px;
    color: var(--whited);
}
.button:hover{
    background-color: var(--blue);
}
.button:active{
    background-color: var(--marine);
    color: var(--whited);
    font-weight: 700;
    align-items: center;
}

#hero img{
    width: 450px;
}

#about{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    /* max-width: 850px; */
    padding: 30px 0;
    
}

.separador{
    background-color: var(--orange);
    width: 50%;
    height: 3px;
    margin: 35px 0;
}

/*SECTION CARDS*/

h2{
    margin: 40px 0;
    font-size: 32px;
    font-style: oblique;
}
#products{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.cards{
    width: 100%;
    margin: 50px 0;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 50px;
    justify-content: center;
}

.resistencias-container{
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px 80px 80px;
    grid-template-areas:
    'item1 item2'
    'item1 item3'
    'item1 item4';
    grid-gap: 10px;
}

.item1{
    grid-area: item1;
    background-image: url(./img/resist3.jpg);
    background-size: cover;
    background-position: center;
 
    border-radius: 8px;
}
.item2{
    grid-area: item2;
    background-image: url(./img/resistencia.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
.item3{
    grid-area: item3;
    background-image: url(./img/resis2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}
.item4{
    grid-area: item4;
    background-image: url(./img/resistencia-electrica.png);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}


.capacitores-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px 80px 80px;
    grid-template-areas:
    'a b'
    'a c'
    'a d';
    grid-gap: 10px;    
}

.a{
    grid-area: a;
    background-image: url(./img/capacitores.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}
.b{
    grid-area: b;
    background-image: url(./img/codensador.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
.c{
    grid-area: c;
    background-image: url(./img/capa10micro.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
.d{
    grid-area: d;
    background-image: url(./img/capaceramico.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}


.transistores-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px 80px 80px;
    grid-template-areas:
    'aa bb'
    'aa cc'
    'aa dd';
    grid-gap: 10px;
}

.aa{
    grid-area: aa;
    background-image: url(./img/transistores.png);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
.bb{
    grid-area: bb;
    background-image: url(./img/tipos-transistores.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
.cc{
    grid-area: cc;
    background-image: url(./img/bc547-transistor.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
.dd{
    grid-area: dd;
    background-image: url(./img/transistor3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}


.integrados-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 125px 125px;
    grid-template-areas:
    'aaa bbb'
    'aaa ccc';
    grid-gap: 10px;
}

.aaa{
    grid-area: aaa;
    background-image: url(./img/integradoss.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
.bbb{
    grid-area: bbb;
    background-image: url(./img/circuito-integrado.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
.ccc{
    grid-area: ccc;
    background-image: url(./img/ci4.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.leds{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 125px 125px;
    grid-template-areas:
    'uno dos'
    'uno tres';
    grid-gap: 10px;
}


.uno{
    grid-area: uno;
    background-image: url(./img/leds.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.dos{
    grid-area: dos;
    background-image: url(./img/leds2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.tres{
    grid-area: tres;
    background-image: url(./img/fusible.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.varios{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px 80px 80px;
    grid-template-areas:
    'unos doses'
    'unos treses'
    'unos cuatros';
    grid-gap: 10px;
}


.unos{
    grid-area: unos;
    background-image: url(./img/multimetro.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.doses{
    grid-area: doses;
    background-image: url(./img/fusible.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.treses{
    grid-area: treses;
    background-image: url(./img/diodos.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.cuatros{
    grid-area: cuatros;
    background-image: url(./img/inductores.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

/*LOGIN PAGE*/

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container .inputs{
    display: flex;
    flex-direction: column;
}

.login-container a{
    margin: 10px;
}


/*REGISTER PAGE*/
.register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-container .inputs{
    display: flex;
    flex-direction: column;
}

.inputs label{
    margin-top: 20px;
    font-size: 20px;
}

.inputs input{
    padding: 3px;
    font-size: 17px;
    color: black;

}


/* FOOTER */

footer{
    background-color: var(--blue);
    text-align: center;
    margin: 60px;
    max-height: 150px;
}

#work{
    padding: 20px;
}

.redes a{
    margin: 30px;
    font-size: 25px;
}

.redes{
    margin-bottom: 15px;
}

.copiright1{
    color: var(--orange);
    font-size: 20px;
    margin: 8px;
}

.copiright{
    color: var(--marine);
    font-size: 15px;
    margin: 5px;
}