*{
margin: 0;
padding: 0;
box-sizing: border-box;
color: var(--whited);
}

body{
    background-color: var(--marine);
}

:root{
	--marine: rgb(17, 43, 60);
	--blue: rgb(32, 83, 117);
    --orange: #F66B0E;
	--whited: #EFEFEF;
    --medium: 700;
	--regular: 450;
	--small: 300;
} 

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: var(--blue);
    padding: 0px 70px;    
}

.logo {
    height: 98%;
    max-height: 150px;
}

.menu-toggle{
    display: none;
}

.menu-button{
    display: none;
    cursor: pointer;
    font-size: 25px;
    padding: 0 25px;
}



.navlist{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.navbar-link{
    text-decoration: none;
    color: var(--whited);
    font-weight: 600;
    font-size: 20px;
}
.navbar-link:hover{
    color: var(--orange);

}

@media (max-width: 930px) {
    .navlist{
        display: none;
    }
    .menu-button{
        display: block;
    }

    #hero img{
        display: none;
    }
    .menu-toggle:checked + .navlist{
        display: block;
        position: absolute;
        top: 120px;
        left: 20%;
        width: 60%;
        height: 50vh;
        background-color: var(--orange);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }    
    .navbar-link:hover{
        color: var(--blue);
    }
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

#hero{
    display: flex;
    margin: 30px 0;;
    padding: 70px 0;
    width: 90%;
    justify-content: space-around
}
.hero-container{
    display: flex;
    flex-direction: column;
}
h1{
    margin: 10px 0;
    font-size: 40px;
}
p{
    font-size: 22px;
    margin: 30px 0;
}
.button-container{
    display: flex;
    margin: 10px 0;
    gap: 20px;
}

.button{
    margin: 30px 5px;
    text-decoration: none;
    border: 3px solid var(--orange);
    border-radius: 18px;
    padding: 5px 18px;
    color: var(--whited);
}
.button:hover{
    background-color: var(--blue);
}
.button:active{
    background-color: var(--marine);
    color: var(--whited);
    font-weight: 700;
    align-items: center;
}

#hero img{
    width: 450px;
}

#about{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    /* max-width: 850px; */
    padding: 30px 0;
    
}

.separador{
    background-color: var(--orange);
    width: 50%;
    height: 3px;
    margin: 35px 0;
}



/*SECTION CARDS*/

#products{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

h2{
    margin: 40px;
    font-size: 40px;
}

.cards-conatiner{
    font-family: 'Roboto', sans-serif;
	width: 100%;
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: row;
    gap: 25px;
}


.box {
    margin: 10px;
    width: 300px;
    height: 490px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
}

.box .titulo {
	color: #fff;
	padding: 25px;
	margin-top: 100px;
	text-align: center;
	font-weight: 700;
	font-size: 35px;
	background: rgba(0,0,0,0.8);
    box-shadow: 0 0 30px rgba(0,0,0,0.8);
    cursor: pointer;
}
.nine .titulo{
    color: #fff;
	padding: 30px 0;
	margin-top: 100px;
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	background: rgba(0,0,0,0.8);
    box-shadow: 0 0 30px rgba(0,0,0,0.8);
    cursor: pointer;
}

.nucba{
    color: black;
    font-weight: 550;
}

.poster {
    width: 130px;
    height: 130px;
    margin: 80px auto;
    position: relative;
    border-radius: 100px;
}

.poster .h4 {
	top: 16px;
	color: #fff;
	position: relative;
	font-size: 80px;
	text-align: center;
	font-weight: 100;
}

.one {
    background: url(./img/resist3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.two {
	background: url(./img/codensador.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.three {
	background: url(./img/tipos-transistores.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.four {
    background: url(./img/transformadores.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.five {
	background: url(./img/integradoss.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.six {
	background: url(./img/leds2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.seven {
	background: url(./img/diodos.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.eight {
	background: url(./img/inductor.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.nine {
	background: url(./img/potenciometro.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.ten {
	background: url(./img/Rele_opt.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.eleven {
	background: url(./img/fusible.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.tlv {
	background: url(./img/tester.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.p1 {
	background: #2b5876;  /* fallback for old browsers */
	background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 20px darkblue;
}

.p2 {
	background: #f857a6;  /* fallback for old browsers */
	background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 20px #fa3380;
}

.p3 {
	background: #4776E6;  /* fallback for old browsers */
	background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 0 20px lightblue;
}

.p4 {
	background: #1FA2FF;  /* fallback for old browsers */
	background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 20px skyblue;
}


.p5 {
	background: #AA076B;  /* fallback for old browsers */
	background: linear-gradient(to right, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 0 20px purple;
}

.p6 {
	background: #DA22FF;  /* fallback for old browsers */
	background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 0 20px violet;
}

.p7 {
	background: #02AAB0;  /* fallback for old browsers */
	background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 0 20px lightgreen;
}
.p8 {
	background: #5433FF;  /* fallback for old browsers */
	background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 0 20px lightblue;
}
.p9 {
	background: #2b5876;  /* fallback for old browsers */
	background: linear-gradient(to right, #fa3, #fa3380); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 0 20px #fa3380;
}

.p10 {
	background: #2b5876;  /* fallback for old browsers */
	background: linear-gradient(to right, deepskyblue, lightblue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 0 20px darkblue;
}

.p11 {
	background: #F2994A;  /* fallback for old browsers */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 0 20px lightyellow;
}

.p12 {
	background: #A770EF;  /* fallback for old browsers */
	background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 0 20px purple;
}

.p13 {
	background: #f4c4f3;  /* fallback for old browsers */
	background: linear-gradient(to right, #fc67fa, #f4c4f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 0 20px pink;
}
.p14 {
	background: #00c3ff;  /* fallback for old browsers */
    background: linear-gradient(to right, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 0 20px olive;
}
.p15 {
	background: #5614B0;  /* fallback for old browsers */
	background: linear-gradient(to right, #DBD65C, #5614B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 0 20px olive;
}

.p16 {
	background: #fc00ff;  /* fallback for old browsers */
	background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 0 20px olive;
}


/*  FOLLOW*/
.Follow {	  background:url("https://pbs.twimg.com/profile_images/959092900708544512/v4Db9QRv_bigger.jpg")no-repeat center / contain;
	width: 50px;
	height: 50px;
	bottom: 9px;
	right: 20px;
	display:block;
	position:fixed;
	border-radius:50%;
	z-index:999;
	animation:  rotation 10s infinite linear;
	}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

/*LOGIN PAGE*/

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container .inputs{
    display: flex;
    flex-direction: column;
}

.login-container a{
    margin: 10px;
}


/*REGISTER PAGE*/
.register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-container .inputs{
    display: flex;
    flex-direction: column;
}

.inputs label{
    margin-top: 20px;
    font-size: 20px;
}

.inputs input{
    padding: 3px;
    font-size: 17px;
    color: black;

}


/* FOOTER */

footer{
    background-color: var(--blue);
    text-align: center;
    margin: 60px;
    max-height: 150px;
}

#work{
    padding: 20px;
}

.redes a{
    margin: 30px;
    font-size: 25px;
}

.redes a i{
    animation: rotation 3s infinite linear;
}

@keyframes rotation{
0%{
    transform: rotate(0deg);
}
10%{
    transform: rotate(359deg);    
}
50%{
    transform: rotate(359deg); 
}
60% {
    transform: rotate(0deg);
} 
100%{
    transform: rotate(0deg);
}
}

.redes{
    margin-bottom: 15px;
}


.copiright1{
    color: var(--orange);
    font-size: 20px;
    margin: 8px;
}

.copiright{
    color: var(--marine);
    font-size: 15px;
    margin: 5px;
}